body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    margin: auto;
    margin-top: 5vh;
    width: 80%;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.nav-div {
    display: none;
}

.nav-div.active {
    display: block;
}

.buttons {
    margin-top: 20px;
}

.nav-btn {
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

#submitBtn_blend{
    margin-bottom: 50px;
}

#submitBtn {
    display: none;
}

.question{
    height: 20vh;
    overflow: auto;
    margin-bottom: 10vh;
}

.choices-container{
    margin: auto;
    width: 90%;
    height: 35vh;
    margin-bottom: 20px;
    overflow: auto;
}

.PASS {
    color: #34e269;
}

.FAIL {
    color: red;
}

.neutral {
    background-color: white !important;
    border-left: 5px solid white !important;
}

.correct {
    background-color: #34e269 !important;
    border-left: 5px solid #34e269 !important;
}

.corrected {
    background-color: #34e269 !important;
    border-left: 5px solid #34e269 !important;
    opacity: 0.7;
}

.negative {
    background-color: red !important;
    border-left: 5px solid red !important;
}

.choice{
    border-left: 5px solid #007bff;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
width: 2px;               /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
background: transparent;        /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
background-color: #007bff;    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: none;  /* creates padding around scroll thumb */
}

.round-checkbox {
display: inline-flex;
align-items: center;
cursor: pointer;
}

.round-checkbox h4 {
margin: 0; /* Remove default margin from h4 */
font-size: 1.25rem; /* Optional: Adjust size to match design */
}

.round-checkbox input {
display: none;
}

.round-checkbox .checkbox {
width: 20px;
height: 20px;
border-radius: 50%;
border: 2px solid #007bff;
display: inline-block;
position: relative;
margin-left: 8px; /* Adjust the spacing to the left */
transition: background-color 0.3s ease;
flex-shrink: 0; /* Prevent shrinking */
}

.round-checkbox input:checked + .checkbox {
background-color: #007bff;
border-color: #007bff;
}

.round-checkbox input:checked + .checkbox::after {
content: '';
width: 10px;
height: 10px;
border-radius: 50%;
background: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.question-blend{
    margin-bottom: 50px;
}

.container-blend{
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    margin: auto;
    padding: 30px;
}

.choices-blend {
    margin-left: 30px;
}

.choice-blend{
    border-left: 5px solid #007bff;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

.nav-btn_blend {
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.choice-blend{
    max-width: 60vh;
    overflow-y: auto;
}
